# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Word & Documents
*.doc
*.docx
*.docm
*.dotx
*.dotm

# Archives
*.zip
*.rar
*.7z

# 虚拟环境
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/        
venv/
env/

# Media
*.mp4
*.avi
*.mov
...

# Model weights & logs
*.pth
*.pt
*.pkl
*.onnx
...
weights/
runs/
/home/sxq/data/datasets/
data/datasets/
datasets/